language: julia
sudo: required
dist: trusty
os:
  - linux
  - osx
julia:
  - 0.5
  - nightly
notifications:
  email: false
branches:
  only:
    - master

after_success:
  - julia -e 'cd(Pkg.dir("CombinedSubexpressions")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
